*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #000;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
}

img {
  border-radius: 50%;
  height: 200px;
  margin: 20px;
  width: 200px;
}

.about-me {
  border-left: 1px solid #e4e1e1;
  padding: 0px 30px;
}

.contact {
  width: 50%;
}

.contact-heading {
  border-bottom: 1px solid #e4e1e1;
  padding: 15px;
  text-transform: uppercase;
}

.contact-list {
  list-style-type: none;
}

.contact-list > li {
  margin: 10px;
}

.contact-text {
  margin-left: 10px;
}

.copy {
  display: flex;

  justify-content: space-around;
}

.cv-center {
  display: block;
  margin: 0 auto;
}

.cv-title {
  /* background-color: #f6f6f6; */
  background-color: #e4e1e1;
  padding: 30px;

  text-align: center;
}

.cv-title > h2 {
  font-weight: 800;
}

.cv-title > h3 {
  color: #6b6a6a;
  font-weight: 100;
}

.paper {
  background-color: #fff;
  color: #000;
  padding: 30px;
  width: 80%;
}
